* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Fraunces;
  background-color: hsl(30, 38%, 92%);
}

p {
  margin: 0;
}

.card {
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
  max-width: 600px;
  margin: 15vh auto;

  display: flex;
}

.hero-image {
  flex-shrink: 0;
  width: 50%;
  overflow: hidden;
}

.hero-image picture {
  display: block;
  height: 100%;
}

.hero-image img {
  border-radius: 8px 0 0 8px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail {
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.detail > .title {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Montserrat;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.25rem;
}

.detail > .description {
  color: hsl(228, 12%, 48%);
}

.detail > .prices {
  display: flex;
  align-items: center;

  span:first-child {
    font-weight: bold;
    font-size: 1.75rem;
    color: hsl(158, 36%, 37%);
  }

  span:nth-child(2) {
    font-size: 0.75rem;
    margin-left: 1rem;
    text-decoration: line-through;
  }
}

.detail button {
  border: none;
  background-color: hsl(158, 36%, 37%);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  img {
    width: 1rem;
  }

  span {
    font-family: Montserrat;
    color: white;
  }

  &:hover {
    background-color: hsl(158, 42%, 18%);
  }
}

.detail button:focus-visible {
  outline: 3px solid hsl(228, 12%, 48%);
  outline-offset: 3px;
}

@media screen and (max-width: 640px) {
  .card {
    flex-direction: column;
  }

  .card .hero-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
    aspect-ratio: 1 / 1;
  }
}
